* {
 margin: 0;
 padding: 0;
 font-family: Poppins;
 list-style: none;
}

/* Nav */
.navbar > .container-fluid {
 background: #19202c;
}

.nav-link {
 color: #fff;
}

/* Header */
header {
 background: url(assets/imgs/banner.jpg) no-repeat center;
 min-height: 560px;
}
.header-h2 {
 font-weight: 600;
 font-size: 4rem;
 color: #fff;
}

.header-filtro {
 background-color: #fff;
 border-radius: 200px;
}

.header-filtro > li {
 color: #fff;
}

.header-filtro > li > p {
 color: #000;
 font-size: 1rem;
}

@media (max-width: 870px) {
 .header-h2 {
  font-weight: 600;
  font-size: 3rem;
  margin-top: 16px;
 }
 .header-filtro {
  background-color: #fff;
  border-radius: 10px;
  width: 80%;
 }
}

/* cards-list */

.card {
 width: 305px;
 height: 500px;
 justify-content: space-between;
 border-radius: 8px;
 border: none;
 transition: 0.3s;
 cursor: pointer;
}

#card1 {
 background-image: url(assets/imgs/cards/card-1.png);
}

#card2 {
 background-image: url(assets/imgs/cards/card-2.png);
}

#card3 {
 background-image: url(assets/imgs/cards/card-3.png);
}

.txt-card {
 color: #fff;
}

.card span {
 background-color: #f8bc00;
 margin-top: 3.75rem;
 padding: 0.5rem;
 max-width: fit-content;
 border-radius: 0px 8px 8px 0px;
}

@media (min-width: 1000px) {
 .card:hover {
  scale: 1.1;
 }
 .card-oferta:hover {
  scale: 1.1;
 }
}
/* Vantagens */

.card-vantagem {
 width: 17rem;
 height: 14rem;
 background: #fff;
}

/* cards-ofertas */

.card-oferta {
 width: 22rem;
 height: 28.5rem;
 transition: 0.3s;
}

.card-oferta-header {
 background-image: url(assets/imgs/cards/card-oferta-1.jpeg);
 background-position: center;
 width: 100%;
 height: 12.5rem;
 border-radius: 4px;
}

.card-oferta span {
 background-color: #fa5450;
 padding: 0.5rem;
 max-width: fit-content;
 border-radius: 0px 8px 8px 0px;
 color: #fff;
}

.tipo-pousada {
 padding: 0rem 0.5rem;
 border-radius: 8px;
 background: #00b8c4;
 max-width: fit-content;
 font-size: 0.675rem;
}
.tipo-casa {
 padding: 0rem 0.5rem;
 border-radius: 8px;
 background: #7060d2;
 max-width: fit-content;
 font-size: 0.675rem;
}

.tipo-vila {
 padding: 0rem 0.5rem;
 border-radius: 8px;
 background: #19bb8a;
 max-width: fit-content;
 font-size: 0.675rem;
}

.card-oferta-descricao {
 margin: 0 auto;
 padding: 0.5rem;
}

.card-oferta-descricao p {
 font-size: 0.975rem;
}

.list-oferta-text {
 font-size: 0.875rem;
}

#cardOferta2 {
 background: url(assets/imgs/cards/card-oferta-2.jpeg);
 background-position: center;
 background-size: cover;
}

#cardOferta3 {
 background: url(assets/imgs/cards/card-oferta-3.jpeg);
 background-position: center;
 background-size: cover;
}

#cardOferta4 {
 background: url(assets/imgs/cards/card-oferta-4.jpeg);
 background-position: center;
 background-size: cover;
}

#cardOferta5 {
 background: url(assets/imgs/cards/card-oferta-5.jpeg);
 background-position: center;
 background-size: cover;
}

#cardOferta6 {
 background: url(assets/imgs/cards/card-oferta-6.jpeg);
 background-position: center;
 background-size: cover;
}

#cardOferta7 {
 background: url(assets/imgs/cards/card-oferta-7.jpeg);
 background-position: center;
 background-size: cover;
}

#cardOferta8 {
 background: url(assets/imgs/cards/card-oferta-8.jpeg);
 background-position: center;
 background-size: cover;
}

/* buttons */
.hide {
 display: none;
}

.open {
 display: flex;
 margin: 0 auto;
}

/* card */
.active {
 display: block;
 animation: open 0.3s;
}

@keyframes open {
 from {
  top: -20px;
  opacity: 0%;
 }
 to {
  top: 0px;
  opacity: 100%;
 }
}
