* {
 margin: 0;
 padding: 0;
 font-family: Poppins;
}

/* Nav */
.navbar > .container-fluid {
 background: #19202c;
}

.nav-link {
 color: #fff;
}

/* Header */
header {
 background: url(assets/imgs/banner.jpg) no-repeat center;
 min-height: 560px;
}
.header-h2 {
 font-weight: 600;
 font-size: 4rem;
 color: #fff;
}

.header-filtro {
 background-color: #fff;
 border-radius: 200px;
}

.header-filtro > li {
 color: #fff;
}

.header-filtro > li > p {
 color: #000;
 font-size: 1rem;
}

@media (max-width: 870px) {
 .header-h2 {
  font-weight: 600;
  font-size: 3rem;
  margin-top: 16px;
 }
 .header-filtro {
  background-color: #fff;
  border-radius: 10px;
  width: 80%;
 }
}

/* cards-list */

.card {
 width: 305px;
 height: 500px;
 justify-content: space-between;
 border-radius: 8px;
 border: none;
 transition: 0.3s;
 cursor: pointer;
}

#card1 {
 background-image: url(assets/imgs/cards/card-1.png);
}

#card2 {
 background-image: url(assets/imgs/cards/card-2.png);
}

#card3 {
 background-image: url(assets/imgs/cards/card-3.png);
}

.txt-card {
 color: #fff;
}

.card span {
 background-color: #f8bc00;
 margin-top: 3.75rem;
 padding: 0.5rem;
 max-width: fit-content;
 border-radius: 0px 8px 8px 0px;
}

.card:hover {
 scale: 1.1;
}
